PORT_LOCAL="puerto para local (en produccion se usara las variables que inyecte render al backend)"
FRONTEND_URL=""
NODE_ENV="dev"
LOCAL_DATABASE_URL="postgresql://postgres:password_servidor@localhost:5432/nova_salud_db?schema=public&sslmode=disable"
PORT_BD=5432
SESSION_SECRET=""